.add{
    padding-top: 50px;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(https://media.istockphoto.com/photos/home-office-desk-table-with-coffee-cup-bouquet-of-spring-flowers-lily-picture-id1310455436?b=1&k=20&m=1310455436&s=170667a&w=0&h=chdh2N8T_Gk7D2-dOcUTT_YjS4B4eKNl98cgSK6nuzg=);
    background-size: cover;
    
}

.addImageText{
    font-size: 20px;
    font-weight: bold;
}
.addInputImg{
    /* background-image: linear-gradient(to right, rgba(170, 71, 71, 0), rgb(68, 47, 160)); */

}
input[type=file]::file-selector-button {
    border: 2px solid rgb(68, 47, 160);
    padding: .2em .4em;
    border-radius: .2em;
    color: azure;
    background-color: black;
    background-image: linear-gradient(to right, rgba(170, 71, 71, 0), rgb(68, 47, 160));
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
.addBlogImg{
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 100px; */
    margin-bottom:10px;
    padding-bottom: 10px;
}
.addTitleText{
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 100px; */
    margin-bottom:10px;
    padding-bottom: 10px;
}
.addTitleText:focus{
    box-shadow: rgb(200, 237, 252) 0px 2px 4px, rgb(200, 237, 252) 0px 7px 13px -3px, rgb(200, 237, 252) 0px -3px 0px inset;
}
.addImage{
    width: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 20px;
    outline: none;
}

.addForm{
    position: relative;
    justify-content: center;
    /* border :5px solid black; */
    
}

.addFormGroup{
    margin: 20px 50px 20px 50px;
    flex-direction: column;
    /* border: 5px solid black; */
    padding-bottom: 10px;
    /* align-items: center;
    justify-content: center;*/
    text-align: center; 
    
}

.addFormPara{
    /* border: 5px solid black; */
    margin: 20px;
    width:70%;
    align-items: center;
    margin-left: calc(18%);
}

.addImg{
    margin-left: 150px;
    width: 49%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
    margin-left:25%
}

.addInputImg{
    width: 20%;
    font-size: 20px;
    padding: 10px;
    outline: none;
    
}

.addCat{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    /* margin-left: 100px; */
    margin-bottom:10px;
    padding-bottom: 10px;
}

.addOption{
    font-size: 20px;
    font-weight: bold;
    /* border-radius: 10%; */
    border : 2px solid black;
    width: 200px;
    height: 40px;
}

.addInput{
    width: 20%;
    box-sizing: border-box;
    /* border: 2px solid black; */
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    outline: none;
    transition: width 0.4s ease-in-out;
}

.addInput:focus{
    border: 2px solid rgb(161, 150, 150);
    border-radius:25px; 
    width: 30%;
    /* box-shadow: rgb(200, 237, 252) 0px 2px 4px, rgb(200, 237, 252) 0px 7px 13px -3px, rgb(200, 237, 252) 0px -3px 0px inset; */

}

.addText{
    font-size: 20px;
    height:50vh;
    width: 80%;
    color: rgb(32, 34, 34);
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
    border: none;
    outline: none;
    font-weight: bold;
    margin-left: 40px;
    background-color: rgba(103, 114, 116, 0.432);
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.418);
}
.addText:focus{
    background-color: aliceblue;
    background-color: aliceblue;
    /* box-shadow: aliceblue 0px 8px 24px, aliceblue 0px 16px 56px, aliceblue 0px 24px 80px; */
    box-shadow: aliceblue 0px 20px 30px -10px;
}


.addSubmit{
    margin-left :calc(45%);
    top: 20px;
    right: 60px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}