.eventPost {
  width: 45%;
  margin: 10px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.eventImg {
  max-width: 90%;
  max-height: 80%;
  min-width: 90%;
  min-height: 70%;
  object-fit: cover;
  border-radius: 7px;
  margin-left: 3%;
  /* align-items: center; */
}

.eventInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.eventTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  /* margin-left: -25px; */
  text-align: center;
  cursor: pointer;
}

.eventPrice{
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 15px;
  color: #666;
  /* margin-left: -25px; */
  text-align: center;
  cursor: pointer;
}
.eventDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.eventDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-bottom : 10px;
}
