.adminlogin {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(https://media.istockphoto.com/photos/home-office-desk-table-with-coffee-cup-bouquet-of-spring-flowers-lily-picture-id1310455436?b=1&k=20&m=1310455436&s=170667a&w=0&h=chdh2N8T_Gk7D2-dOcUTT_YjS4B4eKNl98cgSK6nuzg=);
    background-size: cover;
    
    
}

.adminloginTitle{
    font-size: 50px;
}

.adminloginForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 5%;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.418);
}

.adminloginForm > label{
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.1em;
}

.adminloginInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 15px;
}

.adminloginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.adminloginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(245, 155, 155);
}

.adminloginRegisterButton {
    position: absolute;
    top: 80px;
    right: 150px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 15px;
}